* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.avatar-label {
    width: 43px;
    height: 43px;
    display: block;
    position: relative;
    top: -80px;
    left: 200px;
    cursor: pointer;
    img {
        width: 43px !important;
        height: 43px !important;
    }
}
.my-account {
    width: 100%;
    min-height: 100vh;
    .container {
        height: 100vh;
        @media screen and (max-width: 1025px) {
            max-width: 850px;
        }
        @media screen and (max-width: 768px) {
            max-width: 850px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            height: fit-content;
        }
    }
    &-row {
        display: flex;
        height: 100%;
    }
    .bar {
        max-width: 352px;
        width: 100%;
        @media (max-width: 768px) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100vh;
            margin-left: -100%;
            background: #696969;
            transition: .5s;
        }
    }
    &-bar {
        padding: 30px 8px;
        background-color: #F9F9F9;
        height: 100%;
        width: 100%;
        transition: 0.5s;
    }
    &-user {
        display: flex;
        flex-direction: column;
        margin: 0 auto 90px auto;
        @media screen and (max-width: 1025px) {
            margin: 0 auto 55px auto;
        }
        img {
            border-radius: 50%;
            height: 170px;
            width: 170px;
            margin-bottom: 10px;
            align-self: center;
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 100%;
            color: #000000;
            text-align: center;
        }
    }
    &-nav {
        ul li {
            margin-bottom: 45px;
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 100%;
            color: #565656;
            list-style: none;
            cursor: pointer;
            transition: .2s;
            @media screen and (max-width: 1025px) {
                margin-bottom: 25px;
                font-size: 20px;
            }
            &:hover {
                color: #11AE55;
            }
        }
        .active {
            color: #11AE55;
        }
    }
    &-form {
        width: 100%;
        padding: 27px 32px 40px 32px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 100%;
            color: #000000;
            margin-bottom: 28px;
            @media screen and (max-width: 426px) {
                font-size: 25px;
                text-align: center;
            }
        }
        label {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #696969;
            margin-bottom: 3px;
        }
        .pen {
            position: relative;
            // &::after {
            //     content: '';
            //     width: 14px;
            //     height: 14px;
            //     background-image: url('/src/assets/img/pen.svg');
            //     position: absolute;
            //     top: 220%;
            //     right: 65%;
            //     @media screen and (max-width: 1025px) {
            //         right: 54%;
            //     }
            //     @media screen and (max-width: 769px) {
            //         right: 47%;
            //     }
            //     @media screen and (max-width: 769px) {
            //         right: 5%;
            //     }
            // }
        }
        input[type=date]::-webkit-calendar-picker-indicator {
            background: none;
        }
        input {
            width: 288px;
            min-height: 48px;
            background: #F6F6F6;
            border-radius: 10px;
            border: none;
            padding: 8px 15px;
            margin-bottom: 25px;
            @media screen and (max-width: 426px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        input[type=button] {
            background: #11AE55;
            color: #FFFFFF;
            cursor: pointer;
        }
        .gender {
            display: flex;
            input {
                width: 17px;
                height: 17px;
                margin-right: 8px;
                min-height: 0;
            }
            label {
                margin-right: 37px;
                font-weight: 400;
                color: #000000;
            }
        }
        p {
            margin-top: 184px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #000000;
        }
        span {
            font-weight: 500;
            color: #C12020;
            cursor: pointer;
        }
    }

    &-content {
        width: 100%;
        padding: 24px 31px 313px 31px;
        overflow-y: scroll;
        @media screen and (max-width: 768px) {
            font-size: 25px;
            text-align: center;
            padding: 24px !important;
            overflow-y: visible;
        }
        h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 100%;
            color: #000000;
            margin-bottom: 19px;
            @media screen and (max-width: 1025px) {
                font-size: 27px;
            }
            @media screen and (max-width: 768px) {
                font-size: 25px;
                text-align: center;
                padding: 24px !important;
            }
        }
        form {
            display: flex;
            justify-content: space-between;
        }
        form input {
            padding: 8px 15px;
            gap: 540px;
            height: 48px;
            width: 80%;
            background: #F6F6F6;
            border-radius: 10px;
            border: none;
            outline: none;
            @media screen and (max-width: 768px) {
                width: 75%;
                padding: 7px 10px;
                height: auto;
                font-size: 12px !important;
            }
        }
        form input[type=button] {
            background: #11AE55;
            color: #ffffff;
            cursor: pointer;
            width: 18%;
            border: none;
            @media screen and (max-width: 426px) {
                width: 22%;
            }
        }
    }
    &-fil {
        margin-top: 32px;
        display: flex;
        @media screen and (max-width: 769px) {
            margin-top: 18px;
        }
        p,
        select {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #000000;
            margin-left: 36px;
            @media screen and (max-width: 426px) {
                font-size: 11px;
                margin-left: 13px;
            }
            &:first-child {
                margin: 0;
            }
        }
        select {
            border: none;
            outline: none;
            cursor: pointer;
            
        }
    }
    &-inner {
        margin-top: 27px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &-inner {
        .empty {
            width: 80%;
            margin: auto;
            img {
                width: 100%;
                text-align: center;
                margin: 22px auto 51px auto;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 130%;
                text-align: center;
                color: #9D9D9D;
                width: 100%;
                margin: 0 auto;
            }
            a {
                text-decoration: none;
                color: #11AE55;
            }
        }
    }
    .card {
        display: flex;
        justify-content: space-between;
        background: #F9F9F9;
        border-radius: 10px;
        margin-bottom: 28px;
        padding: 19px 13px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 10px;
            margin-bottom: 10px;
        }
        &-left {
            width: 45%;
            position: relative;
            @media screen and (max-width: 1025px) {
                width: 60%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;

                img {
                    margin-bottom: 15px;
                }
            }
        }
        &-right {
            width: 55%;
            padding: 0 29px;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1025px) {
                width: 40%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0;
            }
        }
        &-img {
            width: 100%;
            height: 100%;
            @media screen and (max-width: 426px) {
                height: 200px;
            }
        }
        &-status {
            padding: 8px;
            text-align: center;
            min-width: 169px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #FFFFFF;
            background: rgba(17, 174, 85, 0.7);
            border-radius: 20px;
            position: absolute;
            top: 9px;
            left: 9px;
        }
        &-num {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #000000;
        }
        &-p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #000000;
            margin-top: 20px;
            @media screen and (max-width: 1025px) {
                margin-top: 10px;
            }
            @media screen and (max-width: 1025px) {
                font-size: 14px;
            }    
              
        }
        &-btns {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            height: 100%;
            @media screen and (max-width: 1025px) {
                flex-direction: column;
            }
            @media screen and (max-width: 426px) {
                flex-direction: row;
            }
        }
        &-btn {
            max-height: 48px;
            align-self: self-end;
            margin-top: 33px;
            background: #11AE55;
            border-radius: 10px;
            padding: 16px;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
            width: 48%;
            border: none;
            outline: none;
            cursor: pointer;
            @media screen and (max-width: 1025px) {
                width: 100%;
                margin: 10px 0 0 0;
                font-size: 13px;
            }
            @media screen and (max-width: 426px) {
                width: 48%;
                padding: 10px;
                font-size: 12px !important;
            }
            &--s {
                color: #11AE55;
                background-color: transparent;
                border: 1px solid #11AE55;
                padding-top: 12px;
            }
        }
    }
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.mini-menu {
    display: none;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 426px) {
        display: flex;
    }
    img {
        width: 5px;
        height: 7px;
        margin-right: 5px;
        transform: rotate(180deg);
    }
    p {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }
}

.mini-close {
    display: none;
    font-size: 0;
    @media screen and (max-width: 426px) {
        display: block;
        font-size: 25px;
        font-weight: bold;
        color: #11AE55;
        position: absolute;
        top: 10px;
        right: 10px ;
    }
}


.bar-active {
    left: 0;
    transition: 0.5s;
}
